 <body id="page-top">

    <!-- Navigation -->
   <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger basic-ft" href="#page-top">조선대 축제</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#schedule">축제 일정</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#hana">하나제</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#rose">장미축제</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#hanul">한울제</a>
            </li>
             <li class="nav-item">
               <a class="nav-link js-scroll-trigger" href="#board">게시판</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#map">찾아오시는 길</a>
            </li>
           
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <strong class="basic-ft">조선대학교 축제</strong>
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="text-faded mb-5 basic-ft" style="font-size: 2em; background-color:black">2018년 조선대학교 축제에 대해 소개합니다.</p>
            <a class="btn btn-primary btn-xl js-scroll-trigger basic-ft" href="#schedule">축제 일정 보기</a>
          </div>
        </div>
      </div>
    </header>

    <section class="bg-primary" id="schedule">
      <div class="container">
        <div class="row">
          <div class="imgCalendar">
              <a class="content1 js-scroll-trigger" href="#hana"></a>
              <a class="content2 js-scroll-trigger" href="#rose"></a>
              <a class="content3 js-scroll-trigger" href="#rose"></a>
              <a class="content4 js-scroll-trigger" href="#hanul"></a>
          </div>
        </div>
      </div>
    </section>


    <section id="hana">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <br>
            <h2 class="section-heading">하나제</h2>
            <hr class="my-4">
          </div>
          <img src="<%=asset_path 'hana.jpg'%>" style="position: relative;left: 19%">
        </div>
      </div>
      <div class="container-fluid p-0">
        <div class="row no-gutters popup-gallery">
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="<%=asset_path 'hangju.jpg'%>">
              <img class="img-fluid" src="<%=asset_path 'hangju.jpg'%>" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="<%=asset_path 'jiguin.jpg'%>">
              <img class="img-fluid" src="<%=asset_path 'jiguin.jpg'%>" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="<%=asset_path 'boybi.jpg'%>">
              <img class="img-fluid" src="<%=asset_path 'boybi.jpg'%>" alt="">
              <div class="portfolio-box-caption">
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    </section>
    <section id="rose">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <br>
            <h2 class="section-heading">장미 축제</h2>
            <hr class="my-4">
          </div>
        </div>
        <img src="<%=asset_path 'rose.jpg'%>" style="position: relative;left: 19%">
      </div>
      <div class="container-fluid p-0">
        <div class="row no-gutters popup-gallery">
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="<%=asset_path 'roseinvitation.jpg'%>">
              <img class="img-fluid" src="<%=asset_path 'roseinvitation.jpg'%>" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="<%=asset_path 'lineup.jpg'%>">
              <img class="img-fluid" src="<%=asset_path 'lineup.jpg'%>" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="<%=asset_path 'lineup1.jpg'%>">
              <img class="img-fluid" src="<%=asset_path 'lineup1.jpg'%>" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="<%=asset_path 'lineup2.jpg'%>">
              <img class="img-fluid" src="<%=asset_path 'lineup2.jpg'%>" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="<%=asset_path 'lineup3.jpg'%>">
              <img class="img-fluid" src="<%=asset_path 'lineup3.jpg'%>" alt="">
              <div class="portfolio-box-caption">
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="<%=asset_path 'lineup4.jpg'%>">
              <img class="img-fluid" src="<%=asset_path 'lineup4.jpg'%>" alt="">
              <div class="portfolio-box-caption">
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>

    <section id="hanul">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">한울제</h2>
            <hr class="my-4">
          </div>
        </div>
        <img src="<%=asset_path 'hanul.jpg'%>" style="position: relative;left: 19%">
      </div> 
      <div class="container-fluid p-0">
        <div class="row no-gutters popup-gallery">
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="<%=asset_path 'chungha1.gif'%>">
              <img class="img-fluid" src="<%=asset_path 'chungha1.gif'%>" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="<%=asset_path 'chungha2.jpg'%>">
              <img class="img-fluid" src="<%=asset_path 'chungha2.jpg'%>" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="<%=asset_path 'chungha3.jpg'%>">
              <img class="img-fluid" src="<%=asset_path 'chungha3.jpg'%>" alt="">
              <div class="portfolio-box-caption">
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>
    
<!-- 게시판 -->
   <section id="board">
    <table class="tb-style colored-basic-ft" align="center">
      <tr>
        <td class="td-size">
          <!-- 뷰 부분 -->
          <div class="container">
             <% @post.each do |x|%>
                 <%=x.name%><br>
                 <%=x.content%><br>
                <div align="right">
                <a href ="/home/delete/<%=x.id%>">[삭제]</a>
                <%=link_to controller: "home", action: "delete", post_id: x.id do%>
                <%end%>
                <a href ="/home/edit/<%=x.id%>">[수정]</a><br>
              </div>
               <br>
              <%end%>
          </div>
        </td>

        <td>
          <!-- 입력-->
          <div class="container">
          <div class="row">
          <%=form_tag('/home/create',method:"post") do%>
            이름: <input type="text" name="name" class="form-control"><br>
            내용:
            <textarea class="form-control" rows="4" cols="50" name="content">
              </textarea>
            <input type="submit" value="Submit" class="form-control">
          <%end%>
          </div>
          </div>
        </td>
    
      </tr>
    </table>
    </section>



    <section>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <br><h2 class="section-heading basic-ft">조선대 찾아 오시는 길</h2>
            <hr class="my-4">
          </div>
        </div>
      </div>
      <div id="map"></div>
    </section>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/creative.min.js"></script>
    <script>
        function initMap() {
          var uluru = {lat: 35.143966, lng: 126.931712};
          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 16,
            center: uluru
          });
          var marker = new google.maps.Marker({
            position: uluru,
            map: map
          });
        }
      </script>
      <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYfOydlJ4moet1abjMHBd4iNkna0Ne9vY&callback=initMap">
      </script>

</body>
